body {
    background-color: rgb(197, 241, 147);
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: #333;
    margin: 10;
    padding: 10;
    min-width: 900px;
}

form {
    border: 1px solid #333;
    margin-bottom: 15px;
    padding: 15px;
}

input[type=text] {
    padding: 5px;
    background: #f0eaeacc;
}

p {
    background-color: rgb(231, 241, 241);
}

#data {
    font-size: 14px;
    color: black;
}